// import de utilidades

@import "../utilidades/vars";
@import "../utilidades/mixin";
@import "../utilidades/extend";

/* estilos de contacto */
.contacto{
    text-align: center;
    h1{
        @extend %mayus;
        text-align: left;
        font-size: 1.5rem;
        @include tablet{
            font-size: 2rem;
        }
    }
    form{
        margin-top: 2rem;
        .formulario{
            div{
                label{
                    color: whitesmoke;
                    display: block;
                }
                input{
                    width: 15rem;
                    height: 2rem;
                    @include tablet{
                        width: 30rem;
                        height: 3rem;
                    }
                }
                #consulta{
                    height: 20rem;
                }
            }
        }
    }
}