//paleta de colores

//color fondo
$bg-color: #B4CFB0;

//color fondo visionValores
$color-vision: #94AF9F;

//color principal
$color-principal: #557174;

//color secundario
$color-secundario: #789395;

//color overline areas
$color-overa: #DBE4C6;

//color de pags de interes
$color-links: #0A4D68;

$color-visited: #728378;